<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624346170728-q5avkoctq2370d99etefb64hjr5skrk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624346170728-q5avkoctq2370d99etefb64hjr5skrk4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>624346170728-necl6ker17emqe1l2tk4st0ucap63dp5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZhBtwwLWBzsPHqN9M_x5E7Ye5nt2zIhc</string>
	<key>GCM_SENDER_ID</key>
	<string>624346170728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yakynyol.app</string>
	<key>PROJECT_ID</key>
	<string>tmexpress101</string>
	<key>STORAGE_BUCKET</key>
	<string>tmexpress101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624346170728:ios:bcded2a89071623cb242dd</string>
</dict>
</plist>